<header class="bg-white">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-4 md:px-6 lg:px-8" aria-label="Global">
    <a href="#" class="-m-1.5 p-1.5">
      <img class="h-9 md:h-10 lg:h-12 w-auto" src="../assets/images/agrofacil-logo.png" alt="AgroFácil logo" />
    </a>
    <div class="flex gap-x-4 md:gap-x-6 lg:gap-x-12">
      <a [routerLink]="['/fazenda']" class="text-s sm:text-sm font-semibold text-gray-700 decoration-transparent hover:text-green-700">Fazendas</a>
      <a [routerLink]="['/animal']" class="text-s sm:text-sm font-semibold text-gray-700 decoration-transparent hover:text-green-700">Animais</a>
    </div>
  </nav>
</header>
